/* remove margin and padding */
*{
    padding: 0;
    margin: 0;
}
/* set font size  */
.title,
h1{
    font-size: 2rem;
}
/* add margin bottom every row */
.row{
    margin-bottom: 20px;
    margin-top:20px;
}
/* centering card title */
.card-title{
    text-align: center;
    font-weight: bold;
}
/* styling table */
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
footer{
    font-size: 12px;
}
.card{
    box-shadow: 5px 5px 22px rgb(38 38 38 / 19%);
}
/* media queries */
@media(min-width: 768px){
    /* style font size */
    .title{
        font-size: 4rem;
    }
    h1{
        font-size: 3rem;
    }
}
@media(min-width: 576px){
    footer{
        font-size: 15px;
    }
}